[Unit]
Documentation=https://openvoiceos.github.io/ovos-docker/about/glossary/components/#ovos-audio
Description=Open Voice OS - Audio
After=network.target ovos-messagebus.service ovos-phal.service
Requires=ovos-messagebus.service ovos-phal.service 

[Service]
ExecStart=/home/pi/ovos_venv/lib/python3.11/site-packages/ovos-audio
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s KILL $MAINPID

[Install]
WantedBy=default.target
