[Unit]
Documentation=https://openvoiceos.github.io/ovos-docker/about/glossary/components/#ovos-listener
Description=Open Voice OS - Listener
After=network.target ovos-messagebus.service ovos-phal.service
Requires=ovos-messagebus.service ovos-phal.service pulseaudio.socket

[Service]
ExecStart=/home/pi/ovos_venv/lib/python3.11/site-packages/ovos-dinkum-listener
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -9 $MAINPID

[Install]
WantedBy=default.target
