[Unit]
Documentation=https://openvoiceos.github.io/ovos-docker/about/glossary/components/#ovos-core
Description=Open Voice OS - Core (skills)
After=network.target ovos-messagebus.service ovos-phal.service
Requires=ovos-messagebus.service ovos-phal.service pulseaudio.socket

[Service]
ExecStart=/bin/bash -c $HOME/ovos_venv/bin/ovos-core
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s KILL $MAINPID

[Install]
WantedBy=default.target
