[Unit]
Documentation=https://openvoiceos.github.io/ovos-docker/about/glossary/components/#ovos-phal
Description=Open Voice OS - PHAL
After=network.target ovos-messagebus.service
Requires=ovos-messagebus.service 

[Service]
ExecStart=/bin/bash -c $HOME/ovos_venv/bin/ovos_PHAL
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s KILL $MAINPID

[Install]
WantedBy=default.target
