[Unit]
Documentation=https://openvoiceos.github.io/ovos-docker/about/glossary/components/#ovos-phal
Description=Open Voice OS - PHAL Admin
After=network.target

[Service]
Environment=XDG_CONFIG_HOME=/home/pi/.config
Environment=XDG_CACHE_HOME=/home/pi/.cache
ExecStart=/home/pi/ovos_venv/lib/python3.11/site-packages/ovos_PHAL_admin
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s KILL $MAINPID

[Install]
WantedBy=default.target
