[Unit]
Documentation=https://openvoiceos.github.io/ovos-docker/about/glossary/components/#ovos-phal
Description=Open Voice OS - PHAL
After=network.target ovos-messagebus.service
Requires=ovos-messagebus.service 

[Service]
ExecStart=/home/pi/ovos_venv/lib/python3.11/site-packages/ovos_PHAL
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s KILL $MAINPID

[Install]
WantedBy=default.target
