[Unit]
Documentation=https://openvoiceos.github.io/ovos-docker/about/glossary/components/#ovos-media
Description=Open Voice OS - Media
After=network.target ovos-messagebus.service ovos-phal.service

[Service]
ExecStart=/home/pi/ovos_venv/lib/python3.11/site-packages/ovos-media
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s KILL $MAINPID

[Install]
WantedBy=default.target
