[Unit]
Documentation=https://openvoiceos.github.io/ovos-docker/about/glossary/components/#ovos-messagebus
Description=Open Voice OS - Message bus service
After=network.target

[Service]
ExecStart=/bin/bash -c $HOME/ovos_venv/bin/ovos-messagebus
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s KILL $MAINPID

[Install]
WantedBy=default.target
